<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle collapsed"
        (click)="collapsed = !collapsed"
        aria-expanded="false"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/recipes']">Recipe Book</a>
    </div>
    <div
      class="navbar-collapse"
      [class.collapse]="collapsed"
      (window:resize)="collapsed = true"
    >
      <ul class="nav navbar-nav">
        <li
          [routerLink]="['/recipes']"
          routerLinkActive="active"
          appHover
          *ngIf="isAuthenticated"
        >
          <a>Recepies</a>
        </li>
        <li
          [routerLink]="['/shopping-list']"
          routerLinkActive="active"
          appHover
        >
          <a>Shopping List</a>
        </li>
        <li
          [routerLink]="['/auth']"
          routerLinkActive="active"
          appHover
          *ngIf="!isAuthenticated"
        >
          <a>Authenticate</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a
            [ngStyle]="{ cursor: 'pointer' }"
            appHover
            *ngIf="isAuthenticated"
            (click)="onLogout()"
            >Logout</a
          >
        </li>
        <li class="dropdown" appDropdown *ngIf="isAuthenticated">
          <a
            [ngStyle]="{ cursor: 'pointer' }"
            class="dropdown-toggle"
            role="button"
            >Manage <span class="caret"></span
          ></a>
          <ul class="dropdown-menu">
            <li>
              <a [ngStyle]="{ cursor: 'pointer' }">Login</a>
            </li>
          </ul>
          <ul class="dropdown-menu">
            <li>
              <a [ngStyle]="{ cursor: 'pointer' }" (click)="onSaveData()"
                >Save Data</a
              >
            </li>
            <li>
              <a [ngStyle]="{ cursor: 'pointer' }" (click)="onFetchData()"
                >Fetch Data</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
